body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  padding-top: 70px; /* navbar height ke barabar */
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo span {
  color: #f07c7c;
}

.text {
  max-width: 500px;
  color: #777;
  font-size: 16px;
  margin-bottom: 30px;
}

.purchase-btn {
  padding: 12px 30px;
  border: 2px solid #e2b6a8 !important;
  background: transparent !important;
  color: #000 !important;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.3s;
}

.purchase-btn:hover {
  background-color: #e2b6a8 !important;
  color: #fff !important;
}


.btn:hover {
  background-color: #e2b6a8; /* hover par color fill */
  color: #fff;                /* text white hover */
}


.custom-navbar {
  background-color: #000;
}

.custom-btn {
  background-color: #28a745;
  border: none;
}
.light-green-btn {
  background-color: #7CFF9B !important; /* light green */
  color: #000 !important;               /* text black */
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.light-green-btn:hover {
  background-color: #6BEF8A !important; /* hover thoda darker */
}



.card {
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  border-radius: 12px 12px 0 0;
}
.custom-card {
  overflow: hidden;
transition: transform 0.4s ease;
}

.custom-card img {
  height: 220px;        /* yahan size control hoga */
  object-fit: cover;   /* image crop ho kar fit hogi */
}
.custom-card:hover {
  transform: translateY(10px);
}
.move-left:hover {
transform: translateY(-12px);}

.move-right:hover {
  transform: translateX(10px);
}
